<div class="container-fluid git">
    <!-- <ng-progress></ng-progress> -->
    <h1>
        <strong>GitHub Search</strong>
    </h1>
    <form action="" class="search-form">
        <div class="form-group">
            <input type=" text " class="form-control " placeholder="Search git users with username " [(ngModel)]="username " name="username " (keyup)="findProfile() ">
        </div>
    </form>
    <div class="row ">
        <div class="col-md-5 ">
            <div class="card ">
                <img src="{{user.avatar_url}} " alt="avatar_url ">
                <p>{{user.name}}</p>

                <p>
                    <span class="label label-warning ">{{user.followers}} Followers</span>
                    <span class="label label-primary ">Following {{user.following}}</span>
                    <span class="label label-success ">{{user.public_gists}} Public gists</span>
                    <span class="label label-info ">{{user.public_repos}} Public Repos</span>
                </p>
                <p><a href="{{user.html_url}} " target="_blank " class="btn btn-danger btn-sm ">View profile on github</a></p>
            </div>

        </div>

        <div class="col-md-7 ">
            <div class="card ">
                <div class="column ">

                    <div class="panel panel-default ">
                        <div class="panel-heading ">
                            <h3 class="panel-title ">Repos</h3>
                        </div>
                        <div class="panel-body " *ngFor="let repo of repos ">
                            <p class="clearfix ">
                                {{repo.name|titlecase}} <a href="{{repo.html_url}} " target="_blank " class="btn btn-sm btn-warning pull-right ">View this project on github</a>
                            </p>
                            <p>{{repo.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("body ").scrollspy({
            target: "myScrollspy ",
            offset: 20
        })
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js "></script>